:root {
  --slack-color: #3f0f40;
}

* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--slack-color);
  color: white;
}

.header_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header_left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 30px;
}
.header_search {
  flex: 0.4;
  background-color: #421f44;
  text-align: center;
  display: flex;
  padding: 0 50px;
  color: gray;
  border: 1px solid gray;
  border-radius: 6px;
}

.header_search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 35vw;
  outline: none;
}

.header_right {
  flex: 0.3;
  display: flex;
  align-items: flex-end;
}

.header_right > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
}

#sidebar {
  flex: 0.3;
  color: white;
  background-color: var(--slack-color);
  border-top: 1px solid #49274b;
  max-width: 260px;
}

#sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}

.sidebar_header {
  display: flex;
  border-bottom: 1px solid #49274b;
  padding: 13px;
}

.sidebar_header > .MuiSvgIcon-root {
  padding: 8px;
  color: #49274b;
  font-size: 18px;
  background: white;
  border-radius: 50%;
}

.sidebar_info {
  flex: 1;
}

.sidebar_info h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.sidebar_info h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.sidebar_info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}

.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
}

.sidebarOption:hover {
  background-color: #340e36;
  opacity: 0.9;
}

.sidebarOption_icon {
  padding: 10px;
  font-size: 15px !important;
}

.sidebarOption_channel {
  padding: 10px 0;
}
.sidebarOption_hash {
  padding: 10px;
}

.sidebarOption > h3 {
  font-weight: 500;
}

main {
  display: flex;
  height: 100vh;
}

#chat {
  flex: 0.7;
  flex-grow: 1;
  overflow: scroll;
  padding-bottom: 150px;
}

.chat_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.chat_channelName {
  display: flex;
  text-transform: lowercase;
}

.chat_channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}

.chat_headerRight > p {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.chat_headerRight > p > .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 16px;
}
