:root {
  --slack-color: #3f0f40;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--slack-color);
  color: white;
  width: 100vw;
}

.header_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header_left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 30px;
}

.header_search {
  flex: 0.4;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_searchInput {
  background-color: #421f44;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header_search {
    display: none;
  }
}

.header_searchInput > input {
  background-color: transparent;
  border: none;
  text-align: left;
  min-width: 35vw;
  outline: none;
  color: gray;
  font-size: 16px;
  padding: 0 10px;
}

.search_results {
  position: absolute;
  visibility: hidden;
}

.search_results.active {
  position: absolute;
  visibility: visible;
  background-color: white;
  width: 80%;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  top: 30px;
}

.searchedItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.searchedItem > h4 {
  color: black;
  margin: 10px;
}

.searchedItem > .MuiSvgIcon-root {
  color: black;
  width: 15px;
  margin-right: 10px;
}

.header_right {
  flex: 0.3;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.header_right > .MuiSvgIcon-root {
  /* margin-left: 5px; */
  margin-right: 20px;
}

#sidebar {
  flex: 0.3;
  color: white;
  background-color: var(--slack-color);
  border-top: 1px solid #49274b;
  max-width: 260px;
}

#sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}

.sidebar_header {
  display: flex;
  border-bottom: 1px solid #49274b;
  padding: 13px;
}

.sidebar_header > .MuiSvgIcon-root {
  padding: 8px;
  color: #49274b;
  font-size: 18px;
  background: white;
  border-radius: 50%;
}

.sidebar_info {
  flex: 1;
}

.sidebar_info h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.sidebar_info h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.sidebar_info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}

@media (max-width: 500px) {
  #sidebar {
    flex: 0.5;
  }
  .sidebar_header > .MuiSvgIcon-root {
    display: none;
  }
  .sidebar_info h2 {
    font-size: 10px;
    font-weight: 900;
    margin-bottom: 5px;
  }

  .sidebar_info h3 {
    display: flex;
    align-items: center;
    font-size: 7px;
    font-weight: 400;
  }

  .sidebar_info > h3 > .MuiSvgIcon-root {
    font-size: 7px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
  }
}

.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
  margin: 0.5rem 0rem;
}

@media (max-width: 500px) {
  .sidebarOption {
    font-size: 8px;
    margin: 0.25rem 0rem;
  }
}

.sidebarOption:hover {
  background-color: #340e36;
  opacity: 0.9;
}

.sidebarOption_icon {
  padding: 10px;
  font-size: 15px !important;
}

.sidebarOption_channel {
  padding: 10px 0;
}
.sidebarOption_hash {
  padding: 10px;
}

.sidebarOption > h3 {
  font-weight: 500;
}

main {
  display: flex;
  height: 100vh;
}

#chat {
  flex: 0.7;
  flex-grow: 1;
  overflow: scroll;
  padding-bottom: 150px;
}

.chat_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.chat_channelName {
  display: flex;
  text-transform: lowercase;
}

.chat_channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}

.chat_headerRight > p {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.chat_headerRight > p > .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 16px;
}

#message {
  display: flex;
  align-items: center;
  padding: 20px;
}
#message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.message_info {
  padding-left: 10px;
}

.message_timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}

@media (max-width: 500px) {
  #message {
    display: flex;
    align-items: flex-start;

    padding: 10px;
  }
  #message > img {
    height: 35px;
    width: 35px;
    object-fit: contain;
  }
  .message_timestamp {
    color: gray;
    font-weight: 300;
    font-size: 8px;
    display: block;
    margin: 0.1rem 0;
  }
  .message_info > p {
    font-size: 10px;
  }
}

#login {
  height: 100vh;

  display: grid;
  place-items: center;
}

.login_container {
  padding: 100px 125px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.login_header {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
}

.login_header_center > img {
  object-fit: contain;
  height: 34px;
}

.login_header_right {
  text-align: right;
  font-size: 13px;
  color: #616061;
}

.login_header_right > a {
  color: #0b4d8b;
  font-weight: 600;
  text-decoration: none;
  display: block;
}

.login_subheader > h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
  max-width: 700px;
  text-align: center;
  letter-spacing: -0.75px;
  margin: 10px 0;
}

.login_subheader > p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  color: #454245;
  max-width: 700px;
  text-align: center;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .login_header_right {
    display: none;
  }

  .login_subheader > h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    max-width: 700px;
    text-align: center;
    letter-spacing: -0.75px;
    margin: 10px 0;
  }
}

.login_google > button {
  text-transform: inherit !important;
  background-color: #fff !important;
  border: 2px solid #4285f3;
  color: #4285f3;
  font-weight: 600 !important;
  font-size: 18px;
  width: 100%;
}

.login_google > button:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.login_google i {
  margin-right: 10px;
}

.login_hr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 5vh;
  margin: 1rem 0;
  position: relative;
}

.login_hr > hr {
  width: 100%;
  border: 1px solid gray;
  position: absolute;
  z-index: 1;
}

.login_hr > span {
  background: white;
  z-index: 2;
  padding: 10px 20px;
  font-weight: 600;
  color: #868686;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_form > form {
  width: 100%;
}

.login_form > form > input {
  display: block;
  line-height: 1.33333333;
  border-radius: 4px;
  border: 1px solid #868686;
  transition: border 80ms ease-out, box-shadow 80ms ease-out;
  box-sizing: border-box;
  margin: 0 0 20px;
  padding: 3px 12px 5px;
  height: 45px;
  width: 100%;
  font-size: 18px;
  text-transform: inherit;
}

.login_form > form > input:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(29, 155, 209, 0.3);
  border-radius: 4px;
  border: 0.5px solid rgba(10, 74, 101, 0.92);
}

.login_email > button {
  text-transform: inherit !important;
  background-color: #5c2c5c !important;
  color: white;
  font-weight: 600 !important;
  font-size: 18px;
  width: 100%;
}

.login_email > button:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  background-color: #5c2c5c !important;
  opacity: 90%;
}

@media (max-width: 500px) {
  .login_container {
    margin: 0 1rem;
    padding: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

#chatInput {
  border-radius: 20px;
  width: 100%;
}

#chatInput > form {
  position: relative;
  display: flex;
  justify-content: center;
}

#chatInput > form > input {
  position: fixed;
  bottom: 30px;
  width: 70%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 15px;
  outline: none;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

#chatInput > form > input:focus {
  padding: 17px;
  cursor: text;
}

#chatInput > form > button {
  display: none !important;
}

@media (max-width: 500px) {
  #chatInput > form > input {
    position: fixed;
    bottom: 30px;
    width: 55%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
  }

  #chatInput > form > input:focus {
    padding: 12px;
    cursor: text;
  }

  #chatInput > form > button {
    display: block !important;
    position: fixed;
    bottom: 32px;
    right: 23.5px;
    background: transparent;
    border: none;
    outline: none;
  }
  #chatInput > form > button > .MuiSvgIcon-root {
    width: 15px;
    color: gray;
  }
}
